button {
    padding: 10px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}

label {
    color: black;
    font-size: 14px;
}

window {
    padding: 20px;
}

box {
    padding: 5px;
    min-width: unset;
    min-height: unset;
}

cellview {
    color: black;
}

GtkTooltip {
    color: white;
    font-size: 14px;
    font-weight: bold;
}